.tweet {
  background-color: #fff;
  margin: 2em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

section article main,
#tweets-container header,
#tweets-container footer {
  padding: 8px;
}

section article header {
  display: flex;
  align-items: flex-start;
  background-color: #eee;
  border-radius: 4px 4px 0 0;
}

section article header img {
  border-radius: 5px;
  margin-right: 10px;
}

section article header h1 {
  flex-grow: 1;
  margin: 0;
}

section article header p {
  margin: 0.5em 0;
}

section article footer {
  display: flex;
  font-size: 0.75em;
  border-top: 1px solid #eee;
}

section article footer p {
  flex-grow: 1;
  margin: 0;
}
section article footer i {
  color: #00a087;
  padding: 2px;
  visibility: hidden;
}

.tweet:hover .tweet-actions {
  visibility: visible;
}

.error {
  color: tomato;
  background-color: #eee;
}
