.tweet-container {
  background-color: #fff;
  margin: 2em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

section article main,
.tweet-container header,
.tweet-container footer {
  padding: 8px;
}

section article header {
  background-color: #eee;
  display: flex;
  align-items: flex-start;
  border-radius: 4px 4px 0 0;
}

section article header img {
  margin-right: 10px;
  border-radius: 5px;
}

section article header h1 {
  margin: 0;
  flex-grow: 1;
}

section article header p {
  margin: 0.5em 0;
}

section article footer {
  border-top: 1px solid #eee;
}
section article footer {
  display: flex;
  font-size: 0.75em;
}

section article footer p {
  flex-grow: 1;
  margin: 0;
}
section article footer i {
  padding: 2px;
  color: #00a087;
  visibility: hidden;
}

.tweet-container:hover .tweet-actions {
  visibility: visible;
}
